.just{
    justify-content: center !important;
    margin-top: 200px;
}

.block_functions {
    background-color: #282828;
    border-radius: 48px;
    height: 501px;
    left: 0;
    top: 0;
    width: 656px;
    }
    .fill-in-block-with {
        background-color: #ffffff;
        border-radius: 30px;
        height: 99px;
        left: 0;
        opacity: 0.2;
        top: 0;
        width: 617px;
        }
    .reg_find {
        color: #ffffff;
        font-family: "Monument Extended-Regular", Helvetica;
        font-size: 35px;
        font-weight: bold;
        letter-spacing: 0;
        line-height: 26.8px;
        text-align: center;
        white-space: nowrap;
        justify-content: center;
        display: flex;
        background-color: #33cc00;
        border: 1px solid;
        border-radius: 30px;
        height: 91px;
        width: 617px;
        }
    .green_row {
        background-color: #33cc00;
        border: 1px solid;
        border-radius: 30px;
        height: 91px;
        width: 617px;
        }

    .bold_dashboard {
        color: #282828;
        font-family: "Monument Extended-Regular", Helvetica;
        font-size: 70px;
        font-weight: bold !important;
        height: 64px;
        left: 0;
        letter-spacing: -1.8px;
        line-height: 64.2px;
        top: 0;
        white-space: nowrap;
        }

        .my_test {
            color: #282828;
            font-family: "Monument Extended-Regular", Helvetica;
            font-size: 40px;
            font-weight: bold;
            height: 36px;
            left: 0;
            letter-spacing: 0;
            line-height: 2.4px;
            white-space: nowrap;
            }

            .less_text {
                color: #282828;
                font-family: "Gordita-Regular", Helvetica;
                font-size: 20px;
                font-weight: 400;
                letter-spacing: 0;
                line-height: 30.4px;
                text-align: justify;
                white-space: nowrap;
                }

                .dashboard_flex{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    gap: 11rem;
                    margin-top: 80px;
                    line-height: 40px;
                }

                .img_set{
                    margin-right: 15px;
                }

                .mon{
                    display: flex;
                    gap: 30rem;
                }


                